:root {
  --primary-color: #cd0f0f;
  --secondary-color: #640404;
  --bg-color: #202020;
  --text-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
